# Dependencies
node_modules/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
build/
dist/
coverage/

# Cache/temp
.cache/
.tmp/
tmp/
.localhome/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Backup files
*.bak
